html,
body {
  margin: 0px;
  padding: 0px;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
}

.header {
  grid-column: 3/-1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: 2px solid red;
}

.sidebar {
  grid-column: 1/3;
  grid-row: 1/-13;
  display: grid;
  justify-items: center;
  grid-auto-rows: 100px;

  grid-template-columns: repeat(1, 1fr);
  border: 2px solid red;
}

.main {
  grid-column: 3/-1;
  grid-row:-12/-1;
  display: grid;
  grid-template-columns: repeat(1,2fr) repeat(1,1fr);
   border: 2px solid red;
}

.head_content1 {
  display: grid;
  grid-template-columns: repeat(1, 4fr) repeat(1, 2fr);
}

.head_content2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
}

.btn_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.btn {
  border: 2px solid red;
  border-radius: 15px;
  width: 100px;
  height: 50px;
}

nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.link_group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.main_content{
    display: grid;
   grid-template-columns: repeat(1,1fr);
   grid-auto-rows: 50px;
}

.main_content_heading{
    grid-column: 1/4;
}

.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.side_content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    border: 2px solid red;
}

.announcements{
 
    border: 1px solid red;
}

.side_articles{
    display: grid;
    
    grid-template-columns: repeat(1,1fr);
    border: 2px solid yellow;
    
}

.trending{
  
      border: 1px solid blue;
}

.trending_names{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.name_list{
    display: grid;
}