html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: 3/-1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: rgb(82, 78, 78) 5px 5px 5px;
}

.sidebar {
  grid-column: 1/3;
  grid-row: 1/-13;
  display: grid;
  justify-items: center;
  grid-auto-rows: 100px;
  background-color: rgb(9, 160, 219);
  grid-template-columns: repeat(1, 1fr);
}

.main {
  grid-column: 3/-1;
  grid-row: -12/-1;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}

.head_content1 {
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.head_content2 {
  
    display: flex;
    justify-content: space-between;
  padding-right: 50px;
  font-weight: bold;
}

.btn_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}

.btn {
  background-color: rgb(9, 160, 219);
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(4, 158, 219, 0.856);
}

nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.link_group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 50px;
  padding: 10px;
}

.main_content_heading {
  grid-column: 1/4;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 15px;
}

.side_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.announcements {
  box-shadow: rgb(82, 78, 78) 5px 5px 5px;
  border-radius: 10px;
}

.side_articles {
  display: grid;

  grid-template-columns: repeat(1, 1fr);

  padding: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.trending {
  box-shadow: rgb(82, 78, 78) 5px 5px 5px;
  border-radius: 10px;
}

.trending_names {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.name_list {
  display: grid;
}

.head_logo {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 100px;
  gap: 5px;
}
.dash {
  fill: white;
  height: 60px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.link_group1 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.link_group1 a:visited {
  color: #6c757d;
  color: white;
}

.link_group1 a:hover {
  color: rgb(253, 253, 21);
}

.link_group1 {
  display: flex;
  align-items: center;
  fill: white;
  margin-right: 200px;
  gap: 10px;
}

.nav_icons {
  height: 30px;
}

.head_icon {
  height: 30px;
}

.head_content2_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 gap: 10px;
  align-items: center;
}

.s_icon {
  margin-left: 40px;
}

.header input {
  border-radius: 10px;
}

.cat1 {
  height: 50px;
}

.cat2 {
  margin-left: 100px;
}

.head1_sub1 {
  display: grid;
  grid-template-columns: repeat(1, 80px) repeat(1, 2fr);
}

.head1_sub2 {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  align-items: center;
}

.articles article {
  border-radius: 10px;
  box-shadow: rgb(82, 78, 78) 5px 5px 5px;

  height: auto;
  padding: 20px;
}

.articles h4 {
  font-size: 20px;
}

.article_icons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.trending_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending a {
  color: black;
  cursor: pointer;
}

.trending a:hover {
  background-color: rgb(253, 253, 21);
}

.trending_data {
  display: grid;
}
